.lnk-2-main { COLOR: #d22630; TEXT-DECORATION: none; CURSOR: pointer; }
.body-main { BACKGROUND-COLOR: white; }
.header { BACKGROUND-COLOR: #c5c7c4; }
.bottom { BACKGROUND-COLOR: white }
.tbody { COLOR: black; width: 100%; BORDER-COLLAPSE: collapse; }
.tbody-tr { COLOR: black; width: 100%; height: 50px }
.tbody-td-1-header{ width: 50px; padding: 0px; }
.tbody-td-2-header{ padding: 0px;}
.tbody-td-3-header{ width: 50px; padding: 0px; }
.tbody-td-4-header{ width: 50px; padding: 0px; }
.tbody-td-5-header{ width: 50px; padding: 0px; }
.tbody-td-6-header{ width: 50px; padding: 0px; }