{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <title>Список проверок</title>
    </head>
    <body>
    	<a href="{% url 'asdrm_main' %}" class="nohand"  style="COLOR: white; TEXT-DECORATION: none; CURSOR: pointer;"><div class="page-header">
            <h1 style="text-align:center"><br/>
                <span id="page-header" style="text-transform: uppercase">Курсовой проект</span>
                <br/><br/>
                <span style="font-size:smaller">«Автоматизированная система дистанционной диагностики рабочего места пользователя диспетчерского центра управления железнодорожными перевозками»</span>
                <span style="display: none; font-size:smaller">«Автоматизированная информационная система поддержки принятия решений системного администратора ЕДЦУ</span><br/><br/>
            </h1>
        </div></a>
        {% if tests %}
            <div>
                <br/>
                <table><tbody>
                    <tr>
                        <td class="noborder"><b><a href="#" onclick="history.back();">Вернуться назад</a></b></td>
                    </tr>
                </tbody></table>
		    </div>
            <div>
            <h2>Список выполненных процедур диагностики</h2>
            <table style="width:100%"><tbody>
                <tr>
                    <th class="td4">Дата начала</th>
                    <th class="td4">Время окончания</th>
                    <th class="td4">Адрес ПК</th>
                    <th class="td3">Пользователь выполнивший диагностику</th>
                    <th class="td11">Ссылка</th>
                </tr>
            {% for test in tests %}
                <tr>
                    <td class="td4">{{ test.start_date|date:"SHORT_DATE_FORMAT" }} {{ test.start_date|date:"H:i:s" }}</td>
                    <td class="td4">{{ test.end_date|date:"H:i:s" }}</td>
                    <td class="td4"><a href="/?ip={{ test.ipv4 }}" alt="Проверить снова">{{ test.ipv4 }}</a></td>
                    <td class="td3">{{ test.user }}</td>
                    <td class="td11"><a href="/complete/{{ test.pk }}" alt="Посмотреть результат"> ==> </a></td>
                </tr>
            {% endfor %}
            </tbody></table>
        </div>
        {% else %}
        <div>
            <h2>Список выполненных процедур диагностики <span style="color: red;">пуст</span></h2>
        </div>
        {% endif %}
        <div>
			<br/>
            <table style="border: 0"><tbody>
				<tr>
					<td class="noborder"><b><a href="#" onclick="history.back();">Вернуться назад</a></b></td>
				</tr>
			</tbody></table>
		</div>
    </body>
</html>